LMTP support

In order to get e-mails we can actually serve to client using the IMAP protocol, we should receive e-mail from the SMTP server. 

I have seen Postfix (a SMTP server) use LMTP over Unix Sockets to do this. Listening to unix sockets is as easy as listening to ports (don't know about portability?), but it requires us to implement [RFC 2033](https://tools.ietf.org/html/rfc2033). 

According to that RFC, we also: 
- [ ] MUST support Pipelining ([RFC 2920](https://tools.ietf.org/html/rfc2920)), 
- [ ] MUST support Enhanced Statuscodes ([RFC 2034](https://tools.ietf.org/html/rfc2034)), 
- [ ] SHOULD support 8-bit-MIME ([RFC 1652](https://tools.ietf.org/html/rfc1652)). 

I have not seen the additional RFCs mentioned in the IMAP protocol specification ([RFC 3501](https://tools.ietf.org/html/rfc3501)), so I don't think we have to write with code re-use in mind. 

Any thoughts / suggestions are welcome. As having e-mail is required for having a MVP, I think version 0.1 would be a nice milestone. 